.colornews-message {
	overflow: hidden;
	position: relative;
	border-left-color: #2ea2cc !important;
}
.colornews-message a.button-primary,
.colornews-message a.button-secondary {
	text-decoration: none !important;
}
.colornews-message a.colornews-message-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 15px 10px 21px;
	font-size: 13px;
	line-height: 1.23076923;
	text-decoration: none;
}
.colornews-message a.colornews-message-close:before {
	position: absolute;
	top: 8px;
	left: 0;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
