pre.changelog {
	font-size: 12px;
	background-color: #f5f5f5;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #f5f5f5), color-stop(50%, #e6e6e6));
	background-image: -webkit-linear-gradient(#f5f5f5 50%, #e6e6e6 50%);
	background-image: linear-gradient(#f5f5f5 50%,#e6e6e6 50%);
	background-size: 38px 38px;
	border: 1px solid #d4d4d4;
	display: block;
	line-height: 19px;
	margin-bottom: 10px;
	overflow: visible;
	overflow-y: hidden;
	padding: 0 0 0 4px;
}

pre.changelog span {
	font-weight: 700;
}
.return-to-dashboard.colornews {
	clear: both;
}

p.colornews-actions a.skip {
	opacity: .5;
}

p.colornews-actions a.docs:focus,
p.colornews-actions a.docs:hover,
p.colornews-actions a.skip:focus,
p.colornews-actions a.skip:hover {
	opacity: 1;
}

p.colornews-actions a.button-primary,
p.colornews-actions a.button-secondary {
	text-decoration: none!important;
}

.about-wrap {
	max-width: 100%;
}

.about-wrap h1 {
	display: block;
	text-align: center;
	width: 100%;
	font-size: 38px;
	font-weight: 600;
}

.welcome-description-wrap {
	display: inline-block;
	width: 100%;
	margin: 20px 0;
}

.about-wrap .about-text,
.colornews-screenshot {
	margin: 20px 10px;
	width: 47%;
	float: left;
}

@media (max-width: 1400px) {
	.about-wrap h1 {
		font-size: 30px;
	}
	.about-wrap .about-text {
		font-size: 16px;
	}
}

@media (max-width: 1200px) {
	.about-wrap .about-text {
		font-size: 14px;
	}
}

@media (max-width: 980px) {
	.about-wrap h1 {
		font-size: 25px;
	}
	.about-wrap .about-text,
	.colornews-screenshot {
		float: none;
		width: 100%;
	}
}

/* Notices.*/
.colornews-notice {
	position: relative;
	padding: 8px 40px 8px 8px;
}

.colornews-notice .links {
	margin: 1.2em 0;
	display: flex;
	flex-wrap: wrap;
}

.colornews-notice .links a {
	margin-right: 10px;
}

.colornews-notice .links a > span {
	vertical-align: middle;
	padding-right: 5px;
}

.colornews-notice .notice-text .coupon-code {
	display: inline-block;
}

.colornews-notice .notice-dismiss {
	text-decoration: none;
}

/** Welcome notice.*/
.colornews-message__content {
	display: flex;
}

.colornews-message__content .colornews-message__image {
	flex: 0 0 160px;
	min-height: 100px;
	margin-right: 12px;
	padding-right: 12px;
	border-right: 1px solid #FCFCFD;
}

.colornews-message__content .colornews-message__image .colornews-screenshot {
	width: 100%;
	box-shadow: 0 0 1px 0 #ccd0d4;
	margin: 0;
	float: none;
}

.colornews-message__content .colornews-message__heading {
	margin-top: 0;
	margin-bottom: 12px;
	line-height: 1.4;
}

.colornews-message__content .colornews-message__cta {
	display: flex;
	align-items: center;
}

.colornews-message__content .colornews-message__cta .plugin-install-notice {
	margin-left: 15px;
	line-height: 1.4;
}

.colornews-message__content .colornews-message__cta a:before {
	margin: 5px;
	vertical-align: middle;
}

a.colornews-message-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 15px 10px 21px;
	font-size: 13px;
	line-height: 1.23076923;
	text-decoration: none;
}

a.colornews-message-close:before {
	position: absolute;
	top: 8px;
	left: 0;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

@media screen and (max-width: 768px) {
	.colornews-message__content .colornews-message__image {
		display: none;
	}
}

/** Dashboard Page.*/
.wrap .colornews-header {
	background-color: #fff;
	padding: 12px 20px;
	border-bottom: 1px solid #ccd0d4;
	margin-left: -20px;
	margin-right: -20px;
}

.appearance_page_colornews-options .wrap {
	margin-top: 0;
}

/** Responsive.*/
@media (max-width: 768px) {
	.colornews-message__content .colornews-screenshot {
		display: none;
	}
	.colornews-message__content .colornews-message__text {
		padding: 0;
		width: 100%;
	}
}

/* ColorNews review notice.*/
.colornews-notice.theme-review-notice {
	border-left-color: #30afb8;
	padding: 20px 15px;
}

@media screen and (max-width: 768px) {
	.colornews-notice.theme-review-notice .colornews-message__content {
		display: flex;
		flex-direction: column;
	}
}

.colornews-notice.theme-review-notice a.btn {
	display: flex;
	max-width: fit-content;
	justify-content: center;
	align-items: center;
}

.colornews-notice.theme-review-notice .colornews-message__image {
	flex: 0;
	min-height: auto;
	margin-right: 35px;
	margin-left: 10px;
	padding-right: 0;
	border-right: none;
}

.colornews-notice.theme-review-notice .colornews-logo--png {
	width: 80px;
	height: 80px;
}

.colornews-notice.theme-review-notice h3 {
	font-size: 21px;
	margin: 0;
	line-height: 1;
	color: #000;
}

.colornews-notice.theme-review-notice p {
	font-size: 14px;
	line-height: 21px;
	color: #3C434A;
	margin: 0 0 6px 0;
	max-width: 720px;
}

.colornews-notice.theme-review-notice span.dashicons.dashicons-smiley.smile-icon {
	background: #f7e143;
	border-radius: 50%;
	font-size: 15px;
	border: 1px solid;
	width: 17px;
	height: 17px;
}

.colornews-notice.theme-review-notice .button-primary {
	background: #30afb8;
	border-color: #30afb8;
	box-shadow: none;
	color: #fff;
}

@media screen and (max-width: 768px) {
	.colornews-notice.theme-review-notice .button-primary {
		margin-bottom: 10px;
	}
}

.colornews-notice.theme-review-notice .button-secondary {
	color: #30afb8;
	border-color: #30afb8;
	background: #f6f7f7;
	vertical-align: top;
}

@media screen and (max-width: 768px) {
	.colornews-notice.theme-review-notice .button-secondary {
		margin-bottom: 10px;
	}
}

.colornews-notice.theme-review-notice strong {
	color: #000;
}

.colornews-notice.theme-review-notice .links {
	margin: 1.2em 0 5px 0;
}

